[2015-10-14 23:40] pawelgalazka opened #1 "Generate function which should generate file from template"
Based on:
[code]
Notes:
- if the context is not provided, maybe user should be prompted about values for variables

[2015-10-14 23:42] pawelgalazka opened #2 "Watch function"
It should simplify chokidar interface, be more build purpose oriented.
Instead of
[code]
we could write:
[code]
Notes:
- maybe extension from the path should be removed ? it would be more convenient to operate this info in the callback

[2015-10-16 20:52] pawelgalazka opened #3 "Migration to mocha tests"

[2015-10-16 20:56] pawelgalazka opened #4 "Put in readme more advanced example of build in runfile.js"
- showing screen of terminal when the outputs of tasks are given would be also useful

[2015-10-16 21:50] pawelgalazka opened #5 ""Ask" function"

[2015-10-16 21:53] pawelgalazka opened #6 "Better readme, presenting features in more friendly way"

[2015-10-31 20:29] pawelgalazka opened #7 "Task returns status 0 even if exceptions were thrown"

[2015-11-26 21:36] pawelgalazka commented on #7
Solved

[2015-11-26 21:36] #7 closed

[2015-11-26 22:22] pawelgalazka commented on #3
Solved

[2015-11-26 22:22] #3 closed

[2015-12-06 17:48] #6 closed

[2015-12-06 17:48] #4 closed

[2015-12-06 17:48] #2 closed

[2015-12-06 17:48] #1 closed

[2015-12-08 15:30] AdamHess opened #8 "Support handlebars templates"
lodash templating is atypical for most developers to use. Your project also only uses lodash for templating, even though lodash has a myriad of other functionality, at it's core it wasn't designed for templating.

[2015-12-09 17:22] pawelgalazka commented on #8
One of the values which I'm trying to keep for runjs is minimalism and shallow learning curve. Decision for lodash was that does not add much of template/language specific syntax, it makes use of js already meeting most of the needs which we expect from the templating language. Are there any other specific advantages of handlebars which should be considered ?

[2015-12-09 18:27] AdamHess commented on #8
handlebar templates are prefered because they are generally easier to read. (though this could be subjective)

<%=variable%>  looks too much like an HTML tag, harder to read and is more inline with a C# webforms template

{{variable}} is much easier to read and clearly separates itself from HTML tags. It's also generally more prefered in the nodejs community.

Also the idea behind handlebars is to

[2015-12-10 11:39] pawelgalazka opened #9 "Better exceptions handling in the runfile"
Currently when some error happens in the runfile feedback about the error is not really informative.

[2015-12-11 21:57] pawelgalazka commented on #8
I found an issue with handlebars, this template is in conflict with some ReactJS syntax:

[code]

this is causing compilation error and it is allowed syntax in React/JSX.

[2015-12-11 23:19] AdamHess commented on #8
1. ReactJs is not production ready its still in 0.x.x versioning it's so
volatile that it wouldn't be prudent to build on top of it.
2. React must be transpiled first before it can interact with any other
javascript language/tools.

On Fri, Dec 11, 2015 at 4:57 PM, Paweł Gałązka <notifications@github.com>
wrote:

[2015-12-12 10:10] pawelgalazka commented on #8
1. True, versioning of react is in 0.x.x but it is already used on production by many. Also not only react is in conflict but angular templates/components too.

2. I think that's not the point. Purpose of `template()` util is for scaffolding. User should be able to scaffold for example react (in jsx) or angular components which should be easy to read later.

It looks like lodash templates are not

[2015-12-14 04:31] zephraph commented on #9
Is this the error that you're talking about? Because it certainly isn't informative and I have no idea what's breaking.

[code]

[2015-12-14 05:55] zephraph opened #10 "Breaks when .babelrc present from babel 6"
The babel runtime looks in the cwd for a `.babelrc` file. Unfortunately the rc files from babel 6 are not compatible with babel 5. This was a bit hard to detect because of how you're doing error handling in the bin file.

[code]

Solving this issue is a bit difficult. Ultimately it would be better if there was no direct dependency on Babel at all. With that being said, I do like being able to use

[2015-12-14 07:34] zephraph commented on #8
This could feasibly be made a bit more robust. You could have the option to register a generator that has the same method signature as the `generate` method has right now. Default it to the lodash method.

I'm not sure how worth while it is though. Like @pawelgalazka said, the method itself is very, very simple and could be written standalone.

[2015-12-14 12:58] pawelgalazka commented on #9
Yes that's the thing

[2015-12-14 17:03] pawelgalazka commented on #10
The idea is pretty good, agree that I would not tied up user to an specific babel version, this is a good improvement. The thing which I would change in the second code example is to require babel6 version first (assumption that it will be more common case and we could reduce exception callbacks chain).

[2015-12-14 17:04] pawelgalazka opened #13 "Migration to Babel 6"

[2015-12-14 17:05] pawelgalazka commented on #8
I'm closing this down. To sum up with a decision, support for handlebars is not planned.

[2015-12-14 17:05] #8 closed

[2015-12-14 17:12] zephraph commented on #10
What about the second solution? I feel like it's ultimately more robust. What if someone wanted to write their runfile in coffeescript? Or whatever new hotness comes out. I feel like that ultimately gives more power to the user.

[2015-12-14 17:13] zephraph opened #14 "Add task as a dedicated construct"
Currently a runfile just exports any tasks that it has directly from the runfile. That works, but it doesn't really scale well. Being that the setup for this project is reminiscent of gulp it might be good to look at what they do and why they do it.

Generally any build process at scale is hard to manage in a single file. If you look at large gulp setups the gulpfile will just have a reference to

[2015-12-14 17:15] pawelgalazka commented on #10
I would combine them. If configuration is present then go with hook from configuration, if not then do the first part.

[2015-12-14 17:24] zephraph commented on #10
Hmmm... all right.

[2015-12-14 17:38] zephraph opened #15 "Add more tests"

[2015-12-14 17:40] zephraph commented on #10
So there are actually two parts to this issue.

- Part I: Fix pathing. #11
- Path II: Add support for `require-hooks`.

[2015-12-14 17:41] pawelgalazka commented on #14
You can still put some stuff to external module right now and import it to the runfile, the thing is that you still need to explicitly export it if you want to have some task available from `run` command. But for internal use in the runfile you don't need to do that.

[2015-12-14 17:50] zephraph opened #16 "Exclude lib/* from source"
`lib` is just the compiled version of the src. It doesn't need to be checked into the repository. Generally in a situation like this you'd use npm's `prepublish` step to build out.

See an example: https://github.com/zephraph/postcss-remove-null/blob/master/package.json#L34

[2015-12-14 18:09] pawelgalazka commented on #16
What if we want to allow users to install runjs from a github repository ?

[2015-12-14 18:41] zephraph commented on #16
Hmm, I guess that's true. I didn't think about that use case.

[2015-12-14 19:22] pawelgalazka opened #17 "Travis setup is not ideal for pull requests"
Current travis setup:
[code]

It install runjs script from master branch so it will not test the script from pull request.

[2015-12-14 20:08] zephraph commented on #17
The problem here is mostly because of trying to dogfood run and use it to build itself. The idea is nice, but if the library breaks then the build breaks and it may not be evident why. I've created a PR #20 as an alternative to this.

[2015-12-14 20:08] #16 closed

[2015-12-14 20:09] zephraph commented on #9
#18 tries to do this in the simplest way possible.

[2015-12-14 20:10] pawelgalazka commented on #17
We still should be able to test the script somehow

[2015-12-14 20:11] zephraph commented on #17
The runscript? Yeah, we can write dedicated tests for it without it using itself to build... itself.

[2015-12-14 20:50] zephraph commented on #5
What does this mean exactly?

[2015-12-15 10:44] pawelgalazka commented on #5
It's about introducing some basic mechanism for gathering informations from the user (prompting) which can be encountered in `npm init` for example or yeoman. Ideally it should be able to work nicely with `template` method.

[2015-12-15 15:19] zephraph commented on #5
hmmm, that would be nice. Yeoman uses inquirer.js.

[2015-12-15 19:11] pawelgalazka opened #21 "Add information to readme: Why runjs ?"

[2015-12-15 19:16] pawelgalazka opened #22 "Add documentation about require hooks"

[2015-12-16 14:55] pawelgalazka commented on #14
Some additional thoughts: The issue with `task` construct is that it's works kinda like a global variable, every module which imports `task` can throw something to `task` "bucket". It's a bit less explicit and clear in general I think. It raise additional questions/complexity:

- What if two modules will create task with the same name ?
- How can call the task inside another task ?
- How can I tra

[2015-12-16 18:34] pawelgalazka commented on #5
I would see something like this:

[code]

[2015-12-16 18:42] pawelgalazka commented on #5
or even further:

[code]

[2015-12-16 19:03] #9 closed

[2015-12-16 19:20] #17 closed

[2015-12-16 20:06] #10 closed

[2015-12-16 20:09] pawelgalazka opened #23 "Lost colours for output from run api method"
Process that print some colours to terminal which will be run by `run` method will not print colours anymore

[2015-12-16 20:35] #22 closed

[2015-12-16 21:05] #23 closed

[2015-12-16 22:21] zephraph commented on #5
What would this look like in the users prompt?

[2015-12-16 22:49] pawelgalazka commented on #5
Simple prompt like in `npm init` for now without default values.

[2015-12-17 00:33] zephraph commented on #14
The global concept is only mitigated in the current setup by the fact that you have to explicitly export any exposed task via the runfile. To answer your specific points:

- If a task is redeclared an exception would occur.
- My initial thoughts are to connect a `task` function onto `run` -- `run.task('my-task')`
- This one is a bit tricky. The only way that I currently know to do that would be to

[2015-12-17 00:35] zephraph commented on #5
I'm assuming you'd want to just use vanilla node for this? https://nodejs.org/api/readline.html#readline_rl_question_query_callback

[2015-12-17 07:23] pawelgalazka commented on #5
That is the plan, although that library has a asynchronous character and I think that synchronous approach would be enough for that case and the side effects (code) would be less complex (don't need callbacks there).

[2015-12-17 20:33] zephraph commented on #5
Right. I was just trying to point out a native node solution. I haven't looked into any libraries to do that instead of inquirer.js.

[2015-12-17 23:17] #15 closed

[2016-06-14 10:48] #13 closed

[2016-07-16 11:05] #21 closed

[2016-10-01 05:39] pawelgalazka opened #24 "Log arguments of tasks"
When user call a task with arguments or other task will be called with arguments along the process, in the terminal there will be reported that certain task was run without any information about the arguments which were passed to it. It would be good to provide that information.

[2016-10-01 05:41] pawelgalazka commented on #14
Closing this one for now. Final decision: going for more explicit nature of how things work

[2016-10-01 05:41] #14 closed

[2016-10-01 05:42] pawelgalazka opened #25 "Log CWD if CWD option is given to run function"

[2016-10-11 07:14] karuppiah7890 opened #26 "Add Contributing Guidelines"
It would be really good to have Contributing Guidelines (CONTRIBUTING.md), so that newbies like me can get our hands on the Project and see what it does and may be contribute to it :smile:

[2016-10-11 08:05] karuppiah7890 opened #27 ""No runfile defined" error is not very neat"
When I run the command `run` without defining the `runfile.js` or let's say if I made a typo and defined it as `runfil.js`, then an error message occurs and it is not very pleasing to see it. It says "cannot find module" for `runfile`. As a developer I should understand it. But it's better and neat to just say `No runfile.js defined`

![error](https://cloud.githubusercontent.com/assets/12808424/19

[2016-10-11 08:07] karuppiah7890 commented on #27
I want to fix this!

[2016-10-11 09:09] pawelgalazka commented on #26
Thanks for suggestion! What informations would be particularly useful in your opinion ?

[2016-10-11 09:17] pawelgalazka commented on #27
True, current error message can not look very clean in that case. As I'm assuming this could be the first error message which user can see, so we can do better. Good suggestion!

[2016-10-11 09:21] karuppiah7890 commented on #26
Well, things like

1. Forking the repository in their GitHub account
2. Cloning the repo to local machine
3. `npm install`
4. `npm install -g . `
5. `npm link` to make development easier.
6. Creating a separate branch for fix or feature.
7. Pushing to their GitHub repo
8. Creating a PR
9. Maintaining the Fork with the actual repo, for later development.

You can add or remove some stuff from the l

[2016-10-11 09:22] karuppiah7890 commented on #26
The `npm link` thing, I learned from this https://developer.atlassian.com/blog/2015/11/scripting-with-node/

You could ask people to see that article to see how command line tools are made using npm.

[2016-10-11 09:23] karuppiah7890 commented on #27
I actually put up a PR for this. Please take a look and suggest if it's good

[2016-10-19 11:31] karuppiah7890 commented on #24
You mean, arguments passed to user defined tasks in the runfile.js ?

[2016-10-19 11:44] pawelgalazka commented on #24
@karuppiah7890 I've updated description, take a look

[2016-10-19 12:03] karuppiah7890 commented on #24
Okay!
So, whenever a task (because of another task or directly by the user) is executed, we need to log it's arguments to help the user understand if correct input was given to the tasks.

I think I will take this up. But for now, I am trying to understand the /lib/index.js file and by the way, I am also trying to use some new ES6 features in it. Like the spread syntax instead of using apply(), an

[2016-10-19 12:10] pawelgalazka commented on #24
Go ahead 👍

[2016-10-20 05:43] karuppiah7890 commented on #24
@pawelgalazka Hey, looks like you have two index.js files. One compiling to the other using babel. Why are we compiling and then using the compiled version ? I see that only the import and export constructs won't work in node, so they have to be transpiled, but other constructs like arrow functions, default parameters do work, as far as I know.

[2016-10-20 06:03] pawelgalazka commented on #24
@karuppiah7890 we do want to support node >=4.x, a lot of ES6 features is not available there

[2016-10-20 13:07] gunnx opened #29 "Add descriptions to tasks"
Would be nice if you could add a longer description for each task, as you usually want to keep task names short. Also when you 'run' by itself and get a list of tasks it could print out the description there.

[2016-10-21 02:33] pawelgalazka opened #30 "Smarter task arguments handling"
Consider using https://www.npmjs.com/package/minimist for parsing arguments to the task.

[2016-10-21 11:37] karuppiah7890 commented on #24
Oh, Okay. I didn't know. Sorry

[2016-10-21 12:21] pawelgalazka commented on #24
No worries mate! 🙂

[2016-10-21 15:35] #27 closed

[2016-10-22 19:33] karuppiah7890 commented on #29
@pawelgalazka How does this format look ? For runfile.js, for describing tasks

[code]

[2016-10-22 23:05] pawelgalazka commented on #29
There is one value in runjs which I would like to keep. Keeping things minimalistic. Task should be just a function and every exported function should be runnable. Thanks to this api is simple and clear. I think that construction above unnecessary overcomplicate things. Description could be a property on function object, so it can be easily added by ES7 decorator.

So I would see something like th

[2016-10-23 09:25] karuppiah7890 commented on #29
Yeah, I agree with your principle of keeping things minimalistic and simple.
And Oh. Didn't know that's possible. I will check on it and try to implement it for the `run` command!

[2016-10-23 09:46] pawelgalazka commented on #29
@karuppiah7890 BTW it's a bit of shame that decorators (https://babeljs.io/docs/plugins/transform-decorators/) works only for classes or class methods not for functions, because we could also do:

[code]

and `doc` decorator could adds a `doc` property to a function. Looks better but it's not possible currently.

[2016-10-24 04:24] karuppiah7890 commented on #29
@pawelgalazka Yeah, I saw this in my mail for the previous comment. I guess you then changed the comment to show how to add doc to a function.

[2016-11-02 18:59] fkrauthan opened #31 "Add streaming support to async tasks"
Right now async tasks only log to the command line when the async task is completed. In a lot of cases (e.g. using a watch command) this is not really a option.

My suggestion would be to add a stream options flag that would just pipe the stdout if the process.

[2016-11-02 19:17] fkrauthan opened #33 "Suggestion: Defining tasks in independent files"
Right now the runfile.js is mainly for defining all tasks in one file. This might work for very small projects but if you have a project with a lot files this gets out of hand very quickly. I created a small runfile.js that supports defining tasks in independent files. Not sure if you might wanna include this into the core project:

**The runfile.js**
[code]

**Example Task 1: lint.js**
[code]

**

[2016-11-06 09:13] pawelgalazka opened #34 "runfile.js at scale"
We need a guide about: how to tackle large `runfile.js`
This needs to be covered in README.

Proposed idea: just use import and re-export needed group of tasks in `runfile.js` [re-exporting](http://jamesknelson.com/re-exporting-es6-modules/)

Related to #33

[code]

or for `something:something` tasks naming:

[code]

[2016-11-06 09:24] pawelgalazka commented on #33
This is definitely the subject which needs to be covered in README (#34). My proposition would be to just make the solution more explicit than implicit. Better avoid `magic` behaviours with imports, as they can be confusing for other developers.

We could just re-export tasks which we need to use by `run` command. So for example:

*runfile.js*
[code]

and then you should be able to do `run task1`

[2016-11-06 09:37] pawelgalazka commented on #33
I forgot about the case when we have `something:something` naming for the tasks. In that case re-exporting syntax will not work but it can be easily and explicitly done also:

[code]

[2016-11-07 02:10] fkrauthan commented on #33
Hmm to be honest that makes it more complicated then having some "magic" happening in terms of auto detecting tasks.

[2016-11-25 20:46] portenez opened #35 "exit code is 0 when `task ${taskName} not found`"
When executing `run task-that-does-not-exist`, and the task is not defined in the runfile, a message is printed but the exit code is 0.

Can this be changed to some other exit code?

Given that the current exit code is 0, build tools (e.g.: travis, jenkins, circleCi, etc) consider this step as successful and the build/pipeline breaks in unexpected ways.

[2016-11-25 21:35] pawelgalazka commented on #35
Good point 👍 Yup, it will be fixed

[2016-11-26 10:24] karuppiah7890 commented on #35
Hey @pawelgalazka

Is error code 1 fine for such errors ? Or are we gonna give different codes for different errors and then code them ?

[2016-11-26 11:17] karuppiah7890 commented on #35
Ok. The API tests failed when I tried `process.exit(1)`.
Looks like it abruptly exits from the API call, so the whole test stops. So to "gracefully" set an exit code as the nodejs docs say, I had to set `process.exitCode` and now the CLI works and the API tests are also passing!

[2016-11-26 23:34] pawelgalazka commented on #35
I'm thinking about just throwing custom errors. Then we don't need to worry about managing `process.exit`. So we could catch let say `RunjsError`, print nice message for those (without the stack) and rethrow all other errors with stack.

[2016-11-26 23:37] pawelgalazka commented on #35
Although we would still need to call `process.exit` in the `catch` section (in the run script). But at least we could avoid using `process` within the API and make API node independent.

[2016-11-27 03:44] karuppiah7890 commented on #35
Ah, okay

[2016-12-03 01:51] #31 closed

[2016-12-03 01:52] pawelgalazka commented on #33
For now I do not plan to introduce this change.

[2016-12-03 01:52] #33 closed

[2016-12-04 01:26] fkrauthan commented on #14
@zephraph I created my own simple build system (a lot inspired by runjs) but with using a separate keyword to register tasks. That allows a lot more flexibility in terms of writing and organizing your build scripts. Feel free to take a look at https://github.com/fkrauthan/nss-run but be aware that that project is still in early stages.

[2016-12-07 04:28] portenez opened #36 "`var output = run('some comand')` is null"
You can capture the output of a command by using the async version of `run`. Is there any way we could have the same behavior for `run` without `async`?

That is could `run` return the output of the message?

[2016-12-07 04:40] pawelgalazka commented on #36
For sync behaviour run do `return chProcess.execSync(cmd, options);` where chProcess is `import chProcess from 'child_process';` from node. Will check this out.

[2016-12-07 04:50] pawelgalazka commented on #36
Yup, I've got the issue. It's because for sync version option `stdio='inherit'` is set and that makes `execSync` return null since is piping output to parent process. Marking this as a bug, will try to find a solution

[2016-12-07 05:16] pawelgalazka commented on #36
@portenez if you want a solution for now, you can `run('some command', {stdio: pipe})`. It will return the output but it will not pass it to the parent process thus not print it in the console.

[2016-12-07 10:33] pawelgalazka opened #38 "More detailed unit tests of runjs api"

[2016-12-07 15:58] portenez commented on #36
K, thanks! I'm going to try it soon.

[2016-12-07 21:01] portenez commented on #36
It worked with the `{ stdio: 'pipe' }` option

[2016-12-07 21:12] portenez commented on #34
this is what we're doing for modularization

**someTasks.js**
[code]

**runfile.js**

[code]

[2016-12-07 21:22] pawelgalazka commented on #34
Awesome! Probably the best option so far

[2016-12-07 21:30] portenez commented on #34
Just be aware that it requires `stage-0` babel preset. or at the very least the object spread.

[2016-12-07 21:38] pawelgalazka commented on #34
Another option is to provide `combine` function we could additionally add some name spacing for tasks. For example:

[code]

[code]

[2016-12-07 21:41] pawelgalazka commented on #34
or `namespace` function

[code]

[2016-12-07 22:11] portenez commented on #34
could runjs create tasks groups by flattening the object structure on the fly?

[code]

would generate:

[code]

[2016-12-07 22:48] pawelgalazka commented on #34
Yup, also option worth considering

[2016-12-08 06:48] pawelgalazka commented on #14
RunJS v3.0.0 will introduce scaling support https://github.com/pawelgalazka/runjs/blob/v3.0.0-beta/README.md#scaling

[2016-12-08 06:53] pawelgalazka commented on #34
Last option will be introduced in v3.0.0 https://github.com/pawelgalazka/runjs/blob/v3.0.0-beta/README.md#scaling

[2016-12-13 02:33] pawelgalazka opened #40 "Implement check if run cli works with the right version of run api"

[2017-01-15 23:27] #38 closed

[2017-01-15 23:28] pawelgalazka commented on #36
Fixed by runjs v3.0.0-beta.1

[2017-01-15 23:28] #36 closed

[2017-01-15 23:29] pawelgalazka commented on #34
Scaling solution introduced in runjs v3.0.0-beta.1

[2017-01-15 23:29] #34 closed

[2017-01-15 23:29] #35 closed

[2017-01-15 23:30] #29 closed

[2017-01-15 23:30] #24 closed

[2017-01-15 23:30] #5 closed

[2017-01-15 23:31] #30 closed

[2017-01-16 01:01] portenez commented on #35
Does this means, it's fixed or it won't be fixed?

[2017-01-16 01:29] pawelgalazka commented on #35
It's fixed by #39

[2017-01-16 01:30] portenez commented on #35
Fantastic! thanks

[2017-01-17 07:15] pawelgalazka opened #41 "Sub called tasks are not logged"
When calling task B in task A, only directly called task A will be logged, not B call.
This is happening for `runfile.js` direct structure `export function` approach.

[2017-02-14 16:45] portenez opened #42 "Allow run targets to be generators"
May I suggest an enhancement?

[code]

[code]

We find ourselves wrapping our generators in a promise all the time.

Given that RunJS also runs with babel, RunJS could also support async wait natively. Or, is this already supported?

[2017-03-01 05:29] bmcallis opened #43 "Async command Error: stderr maxBuffer exceeded"
I'm trying to use runjs for our webpack build. When I run it with the async option I get the following error `stderr maxBuffer exceeded`

Here is my runfile.js
[code]

And the full output from running the command
[code]

[2017-03-01 06:24] bmcallis commented on #43
I've dug into this a bit more and the buffer won't be exceed if the code is switched from `childProcess.exec` to `childProcess.spawn`. However they are called differently so the api would have to changed. Here is a hardcoded runAsync function using spawn.

[code]

[2017-03-01 06:33] pawelgalazka commented on #42
Yeah... I know about this issue and I actually I tried to support async/await earlier but it turns out more complicated than I thought. Don't remember the reason exactly. Overall it is in a plan but not with hight priority.

[2017-03-01 06:35] pawelgalazka commented on #43
Thanks for posting. Yeah I also encounter this issue with webpack but rarely. Anyway it's a bug. Feel free to open PR if you feel like it.

[2017-03-13 13:11] nverba opened #46 "Sub called tasks with chokidar don't work as expected."
Since the 3.0 update, I can no longer get chokidar to work in sub tasks. Either as a chokidar-cli command called with run, or by requiring chokidar directly in node.

`chokidar './src/files/**/*.js' -c "run reload"`

or

[code]

[2017-03-13 20:21] pawelgalazka commented on #46
Any errors ?

[2017-03-13 20:39] pawelgalazka commented on #46
Can you task `reload` directly as a function:
[code]

[2017-03-14 08:08] pawelgalazka commented on #46
@nverba I've checked chokidar with runjs `3.0.0` and everything works perfectly fine. Looks like your task call in a callback is incorrect. So construction should be something like this:

[code]

[2017-03-15 09:25] nverba commented on #46
Thank you for the assist.
I would often call run tasks from within run tasks. This worked without issue in previous versions of runjs, and seemed like a simple (read: lazy) way of building up/chaining complex build steps.

I see now that this was a bad pattern. Having spent yesterday refactoring our build process, I'm happy to say your advice has not only fixed the issue I was having, but the code

[2017-03-15 09:25] #46 closed

[2017-03-15 10:57] pawelgalazka commented on #46
@nverba very cool 👍  happy to help

[2017-03-19 04:24] pawelgalazka commented on #43
Fixed by #45

[2017-03-19 04:24] #43 closed

[2017-03-21 10:20] #41 closed

[2017-04-10 22:08] bmcallis opened #50 "Support dashed arguments"
I'd like to be able to supply arguments with dashes in them to a runjs task so I can use the same arguments as the commands I'm calling.

So something like this

[code]
Then calling `run build --hide-modules` would run webpack with the `--hide-modules` flag.

What happens today is that modules is treated as the first argument and hide is passed as an option. Which causes issues since I don't actua

[2017-04-20 18:54] ChisholmKyle opened #52 "generate fails for templates with lodash operators"
I tried to use `generate` with a template that had an iteration `<% _.forEach(myobj.some_array, function(var) { %> ...` which failed because the lodash template function requires the object as an input to build as well as execute the template.
I was able to apply the template successfully using lodash templates separately.
I made a pull request #51 to solve the problem, but it's untested.

[2017-04-26 03:35] pawelgalazka commented on #50
Solved by #49

[2017-04-26 03:35] #50 closed

[2017-05-06 06:28] pawelgalazka commented on #52
@ChisholmKyle change seems to be unnecessary, I've tested `generate` with using a loop, and it works perfectly fine.

`template.tpl`:
[code]

`runfile.js`:
[code]

`template.txt` (results):
[code]

[2017-05-06 06:34] pawelgalazka commented on #25
runjs no longer logs task execution, so this change is not needed.

[2017-05-06 06:34] #25 closed

[2017-05-06 06:35] #40 closed

[2017-05-06 13:04] bmcallis opened #56 "Can't install/add runjs 3.3.0"
Running `npm install runjs@3.3.0` fails with the error `npm ERR! cb() never called!`

Running `yarn add runjs@3.3.0` fails with the error `error An unexpected error occurred: "https://registry.yarnpkg.com/runjs/-/runjs-3.3.0.tgz: invalid tar file".`

I'm running on macOS Sierra 10.12.4
node 6.10.2
npm 3.10.10
yarn v.0.21.3

[code]

[code]

[2017-05-06 13:37] pawelgalazka commented on #56
@bmcallis should be fixed now. Tried to publish by `yarn publish` this time, but something is not working by it. Did good old `npm publish`, now should be fine.

[2017-05-06 13:44] bmcallis commented on #56
Yep, looks good.

[2017-05-06 13:44] #56 closed

[2017-05-06 13:45] #52 closed

[2017-05-31 04:09] pawelgalazka opened #57 "Handle `run --version`"

[2017-06-01 03:15] pawelgalazka opened #58 "Exit code 0 when async run fails"
When `run('cmd', {async: true})` fails, process will exit with status code `0`. Should be `1`.

[2017-06-02 11:49] pawelgalazka commented on #58
If async call `run` fails without handling promise rejection, process will still finish with exit code `0` (success). Pure `node` process by default prints `unhandled promise rejection` warning in that case (unhandled rejection) and exit with code `0`, let's keep that behaviour, so this won't be fixed.

[2017-06-02 11:49] #58 closed

[2017-06-07 12:25] mrdbarker opened #59 "Npm script options"
More of a question at this point, but is there a way to create npm scripts that don't have any options specified, and then pass those through to runjs via the command line. For example:

[code]

And then in the command line:

`npm run test --flag=true`.

In this case, could `this.options` in the `test` task have `{ flag: true }` set?

Ideally, I don't want to have runjs installed globally and woul

[2017-06-07 12:30] pawelgalazka commented on #59
@mrdbarker What about `npm run test -- --flag=true` ?

[2017-06-07 12:32] mrdbarker commented on #59
Ace, thanks for the help (in a crazy fast time, too!). I had put the `--` in the task itself 😢

[2017-06-07 12:32] #59 closed

[2017-08-10 06:05] pawelgalazka commented on #42
@portenez With https://github.com/pawelgalazka/runjs/pull/61 support for async/await arrived. It's within `4.0.0` version. Closing this one then.

[2017-08-10 06:05] #42 closed

[2017-08-10 15:07] portenez commented on #42
Cool, dzieki

[2017-08-20 01:40] #57 closed

[2017-08-20 01:41] #26 closed

[2017-10-05 08:17] hong-duc opened #63 "nodemon command not found"
I follow the example, create project install nodemon with `yarn install nodemon`, install run-cli with 'yarn global runjs-cli', create runfile.js and copy content in the readme.

When I type `run dev`, It throw error `nodemon command not found`
I am using linux mint

[2017-10-05 09:03] pawelgalazka commented on #63
@hong-duc That's serious bug which you found. Somehow it passed through tests and it must be introduced with version `4.1.0` when some refactor took place in failing area. Need to fix the tests for that. Construction of `PATH` which includes `node_modules/.bin` was broken.

Anyway, implementation is already fixed, you can install new version of runjs `4.1.3`. Update of `runjs-cli` is not needed.

[2017-10-05 09:03] #63 closed

[2017-10-30 02:58] cainus opened #64 "Any plans to add auto-complete ability to the cli?"
This is one thing `make` still has on `run`.  I can type `make [tab]` and it gives me a list of possible targets.  Something like https://github.com/f/omelette could help there I think.

(Great utility BTW.  Nice work!)

[2017-10-30 03:34] pawelgalazka commented on #64
I've tried `omelette` but I couldn't make it work, maybe I will give it another look

[2017-11-01 02:00] pawelgalazka opened #66 "Add info about usage with `npx`"
With new npm which comes with node 8, there is `npx` which executes local bins.
Thanks to this doing `npm -g install runjs-cli` is not necessary as we can call runjs tasks by `npx run *`

[2017-11-07 01:22] #66 closed

[2017-11-07 01:24] pawelgalazka commented on #64
@cainus good news! 😄 autocompletion landed in runjs `4.3.0` https://github.com/pawelgalazka/runjs#autocompletion . It is in experimental phase though.

[2017-11-07 01:24] #64 closed

[2017-11-22 17:58] fromkeith commented on #58
Possible suggestion / idea for this since it wasn't exactly intuitive to me why runs I had changed from sync to async were still passing on errors...

Can we return a promise, and then have failures cause the exit?

Eg.
[code]
Since the promise is returned runjs could catch any reject and return status code 1.

Otherwise I'm guessing the suggested workaround is this for every async test?:
[code]

[2017-11-22 22:39] pawelgalazka commented on #58
Yes, second example is the way to go. Generally runjs inherits nodejs default behaviour when it comes to handling failures for async processes, that means that parent process will still return success code 0 if async process fails. So it's up to developer how to handle async failures so it has full control of it.

[2018-01-21 07:32] BinaryBen opened #72 "Using runjs as a generic task runner"
Not sure if bug report or feature request...

Is it possible to use a global installation of runjs without having to type: `npm install runjs` in every directory I want to use a runfile? When I am trying currently, it gives the following:

[code]

It would be great to use runjs globally (i.e., having run `npm install -g runjs`) without assuming it's a node project, or that it has a package.json fi

[2018-01-22 12:19] pawelgalazka commented on #72
Unfortunately it is not possible currently to do that. Even if you do `npm install -g runjs-cli`, every `run` call will look for a local `runjs` installation. This is intentionally as it was not planned to call `runfile.js` tasks outside of node js project.

[2018-01-22 12:21] #72 closed

[2018-01-22 13:45] BinaryBen commented on #72
Are there any strong reasons to not use it outside of a node project? If not, would you accept someone else writing the code for runjs-cli so that it can be used outside of a node project then?

Just curious about the thinking behind this, but obviously it's your project to do with what you want! 👍

[2018-01-22 22:31] pawelgalazka commented on #72
@BinaryBen One of the risks working `runjs-cli` separately from `runjs` version in node project is `runjs` versions conflict. What if user has different version of `runjs-cli` and `runjs` which are incompatible ? That's why `runjs-cli` uses `runjs` implementation from local project. This solves that issues. Of course one way to go around this, is using local implementation if exist and using gener

[2018-01-22 22:37] pawelgalazka commented on #72
@BinaryBen if you are interested `runjs` with version < 4.0.0 , works the way you want.

[2018-01-23 15:55] BinaryBen commented on #72
Hey @pawelgalazka, thanks I'll have a look at the older version and see if it has most of the same features for general use :)

I personally think this should be an option - especially if called from `$ run task` (i.e., with runjs-cli installed) in the shell. Something I noticed the other day was that runjs-cli and `npx run task` doesn't work in nested directories – it throws `RunJS not found. Do

[2018-01-23 16:00] BinaryBen commented on #72
I would agree though it make sense to be ready to commit to syntax for the runfiles to avoid incompatibilities and conflicts between versions. Otherwise you could provide an option to set a flag to allow runjs-cli to use a global install of runjs, caveat emptor?

[code]

[2018-01-28 03:59] pawelgalazka commented on #72
@BinaryBen I think we could improve how `runjs-cli` loads local `runjs` as you mentioned. Currently it's hardcoded to `require('./node_modules/runjs/lib/script.js')`, probably we could change the way how we load it. Happy to take a look at PR.

[2018-01-28 04:26] BinaryBen commented on #72
Alright cheers for considering it, hopefully I'll get a chance to look at it over the next fortnight. :)

[2018-03-05 06:48] pawelgalazka opened #73 "Errors stack trace cut off when running through npx"
When error in `runfile.js` occurs, error stack trace is not displayed in the console.
It is because how `npx` works, it implicitly cut off the stack trace and displays only message of the error for running script.

Solution is to `console.log` the error in `main()` runjs function and `process.exit(1)` instead of re-throwing

[2018-03-14 08:19] pawelgalazka commented on #73
Resolved in `4.3.1`

[2018-03-14 08:19] #73 closed

[2018-03-14 23:33] pawelgalazka opened #74 "Display all tasks list in alphabetically sorted manner"
Currently when displaying all tasks list by `npx run`, tasks list is unsorted. It should be sorted alphabetically.

[2018-03-16 08:57] ivan-kleshnin opened #75 "options argument"
Hi Pawel. The projects is really nice except that `options(this)` style of getting optional args seems counter-intuitive and unconventional to me.

Any chance it can be replaced with:

[code]

[code]

Do you plan to add more stuff to `this` except those `options`?

[2018-03-16 09:51] pawelgalazka opened #76 "Dropping support for TypeScript and Babel"
For version 5 I'm seriously considering dropping support for TypeScript and Babel transpilers. Normally you can run runjs tasks from pure node runfile but it is possible to transpile in a fly runfile through Babel or TypeScript. This unfortunately slows down runjs and doesn't seems to be that practical and used, as runjs tasks doesn't normally interact with "app code" which may use those tools. Th

[2018-03-16 09:59] pawelgalazka commented on #75
Hey @ivan-kleshnin yes, I made here assumption that having `this.options` will be less invasive that having each option on `this` object. True I don't strong arguments behind it, since there is not much of a case where putting options individually on `this` object could break user code and I don't plan to put anything else on `this` object. I don't have strong opinion on either case.

What I'm ser

[2018-03-16 10:35] ivan-kleshnin commented on #75
Yes, I also like "the normal argument" approach even better if we consider task dependencies.
Personally, I have nothing against mandatory arguments – I'm a fan of currying and my APIs
look like `run({}, ...)` quite often.

On opportunity to ask – do you plan to replace `help` with something more sophisticated in future (annotations of required args, maybe even their types, etc) or do you plan to

[2018-03-16 10:44] ivan-kleshnin commented on #76
I'd like to import ES6 modules occasionally. If we consider validation possibilites those can be expressed as types and types are often shared, like some `Id` type can be used in both CLI and Frontend and Backend.

Is it possible to make `npx` run `babel-node` instead of just `node`? That could be an easier solution for both TS / Babel and whatever else, not requiring any additional code in RunJS.

[2018-03-16 10:53] pawelgalazka commented on #75
For now I do not plan to make `help` more sophisticated. Naturally it feels like it should be mostly a job for type system regarding such validations. Like we should be able to use type system for most of this. For example:

[code]

Nice and clean. That would require unfortunately mandatory transpilation process which I don't want to introduce (slows down running tasks).

[2018-03-16 11:07] pawelgalazka commented on #75
@ivan-kleshnin what might possible today with current version of runjs is using https://codemix.github.io/flow-runtime/#/ and setting it up with babel for runjs.

[2018-03-16 11:30] ivan-kleshnin commented on #75
Yes, makes sense. I remember I saw something like that for TypeScript as well, though may be wrong.

[2018-03-28 07:45] ljani commented on #76
I'm using TypeScript to write my scripts. Though I'm happy to run `ts-node` separately as long as it's still possible and I can point `runjs` to a file with `.ts` extension.

What do we gain if the functionality is removed? The code for [`requires`](https://github.com/pawelgalazka/runjs/blob/834b520b70e0523e90411042c3116a24d44aa5be/src/script.js#L44-L49) doesn't seem to be complex, so maintenance

[2018-03-28 09:32] pawelgalazka opened #77 "Accessing options through task argument not "this" context"
### Context
Currently to get access to cli dash options like:

[code]

we need to use `options` helper with giving `this` context to it:

[code]

### Issues

1. This is in some cases problematic especially if we want to call task from other task but provide options to it:

[code]

which not really clear, obvious and convenient.

2. Fat arrow functions can't access `this`, so you can't handle optio

[2018-04-09 08:35] ivan-kleshnin commented on #77
Plus this follows the API of your `microcli` dependency.

[2018-04-09 08:37] ivan-kleshnin opened #78 "Expose SilentLogger?"
Current way to disable logging:

[code]

Too much effort, especially with file splitting. Additional import or declaration of `SilentLogger` per file...

One option to simplify this is to expose `SilentLogger` currently used internally:

[code]

[2018-04-09 12:42] pawelgalazka commented on #78
Have you tried `{stdio: 'ignore'}` option ? For example:
[code]

[2018-04-09 12:49] pawelgalazka commented on #75
Closing this one in favour of https://github.com/pawelgalazka/runjs/issues/77

[2018-04-09 12:49] #75 closed

[2018-04-09 12:51] pawelgalazka commented on #76
Closing this one, with pretty good summary above ^

[2018-04-09 12:51] #76 closed

[2018-04-09 12:53] pawelgalazka commented on #78
I think you should be able to do:

[code]

[2018-04-09 17:29] ivan-kleshnin commented on #78
I've tried first one, but was too lazy to look into `node_modules` :)
Will you accept a PR to mention this in docs?

[2018-05-11 23:10] davsm opened #79 "Security vulnerability in lodash -> used by microcli 1.3.1"
Please see PR submitted to microcli. Once that is complete, then this version needs to be updated.

https://github.com/pawelgalazka/microcli/pull/1

"microcli": "1.3.1",

[2018-05-11 23:12] davsm commented on #79
https://nodesecurity.io/advisories/577

[2018-06-05 17:08] vjpr opened #81 "Allow `task:subtask` and also `task`"
A convention where `task:index` would be run when running `task` would be good.

That is, there should be a default task that runs for a namespace.

[2018-06-05 17:10] vjpr opened #82 "Option to use dash case for all command names"
[code]

is run with `run foo-bar`.

[2018-06-05 22:18] pawelgalazka commented on #81
You can already do that, check https://github.com/pawelgalazka/runjs#namespacing

[2018-06-24 12:45] oliverhulett opened #83 "Expose all options of underlying child_process call to run function"
Currently the `run()` function takes an `options` argument, to which it sanitises and adds some defaults, then passes those options to either `child_process.execSync()` or `child_process.spawn()`.

The method by which `options` is sanitised and the defaults added means the user cannot access all of the options exposed by the underlying `child_process` function that is called (my specific use case

[2018-07-03 11:23] slavafomin opened #84 "Specify path to a runfile.js?"
Hello!

Thank you for this great module!

However, is there a way to specify path to a `runfile.js`?

Thanks!

[2018-07-03 11:24] slavafomin opened #85 "Add help message to CLI"
It would be great to add a help message with the CLI documentation to the `npx run --help` command.

[2018-07-03 22:52] pawelgalazka commented on #85
@slavafomin if you type `npx run` it will print out all commands with descriptions

[2018-07-03 22:53] pawelgalazka commented on #84
@slavafomin Yes there is. Take a look at this example: https://github.com/pawelgalazka/runjs#typescript

[2018-07-04 08:21] slavafomin commented on #84
Thanks, but what if I don't want to specify it in `package.json`? I want to pass it as a CLI argument.

[2018-07-04 12:58] BinaryBen commented on #81
Additionally, it would be good if the help summary could just list the main functions.

So if I have `watch:css`, `watch:html`, and `watch:index` (currently I'm using :all but can adapt if this is implemented), I would just see as an example:

[code]

I would then expect to see all of the subtasks listed if I entered `run watch --help` though.

[2018-07-04 22:19] pawelgalazka commented on #84
Then it's not really possible

[2018-07-10 22:49] #85 closed

[2018-07-16 00:13] #84 closed

[2018-07-16 00:14] #78 closed

[2018-07-16 00:16] pawelgalazka commented on #82
You can do that currently if you:

[code]

[2018-07-16 00:16] #82 closed

[2018-07-28 18:34] tenorok commented on #81
It's possible already now:
[code]

[2018-07-29 22:17] pawelgalazka commented on #81
Yes, example above should work ^ Although code may look like a bit wonky

[2018-11-02 14:35] markstos commented on #83
I would also like the 'shell' option to be exposed and further propose that the default be changed from from `sh` to `bash`. I think this follows the "principle of least surprise", as developers are more likely to be expecting bash semantics.

Further, I propose that `shopt -s globstar` be turned on by default for this shell.

People coming from Gulp and other build systems often use patterns like

[2018-11-02 14:35] markstos commented on #83
I'm going to work on a pull request for this now.

[2018-11-03 14:01] markstos opened #87 "wish: option to decamelize task names"
It's great that tasks are just exported methods.

However, using camelcase in CLI commands feels out of place. Most CLI commands in most tools are still allow lower case.

I'm interested having the option to publish and use "decamelized" versions of my task names.

With Gulp, it seems you have to explicitly give your tasks alternate names if you don't like using cameCase on the CLI, but I think th

[2018-11-04 14:31] markstos opened #88 "wish: better diagnostic instead of "TypeError: Cannot read property 'help' of undefined""
As I setup my runfile, I've got this error several times. I know the cause is in my own code, but the error message only points to the internals of runjs. It would be helpful if this condition was checked for with a `try/catch` and clearer diagnostic was emitted that pointed tot he line with the problem:

[code]

[2018-11-04 14:50] markstos commented on #88
In `src/index.js`, it looks like the intent is there to validate the input as receiving a value that is a function:

[code]
But when this code is compiled into `./lib/index.js`, the validation is currently stripped, allowing undefined values to be passed through:

[code]

[2018-11-04 22:11] markstos commented on #87
I looked into this more and found that nothing stops you from using keys with dashes in them in `module.exports`. It's exporting an Object and Objects have always allowed strings as as keys.

Here's a bit of code that shows automatically setting up module.exports with dashes in the task names, and also demonstrates that dashes in function names can work fine as long as the functions are object pro

[2018-11-05 01:59] markstos commented on #77
I already have some shared functions which accept custom arguments so they can be called different ways internally. I guess internal-only functions are safe from the change, because only the public functions would receive the argument.

However, this would be a compatibility problem for functions which are public and also *shared* using a custom argument passed.

I think binding options to `this.o

[2018-11-06 22:01] markstos opened #91 "docs: Table of Contents link to "options" is broken."
Table of Contents link to "Options" is broken.

Also, it should be documented why "this" should be passed to options() and noted that passing "this" is optional.

Thanks.

[2018-11-13 01:16] markstos opened #92 "wish: elide long "run" command output"
I have a `run` command with a dynamically generated argument list that current passes about 900 arguments to a command. This creates *REALLY* noisy output from `runjs`.

I propose that the `run()` output be elided after 100 characters. That is, if the string is > 100 characters log, truncate it back to 97 characters and append "..." to the output.

The tiny `lodash.truncate()` module handles exact

[2019-01-11 13:00] #88 closed

[2019-01-11 13:06] pawelgalazka commented on #79
Fixed

[2019-01-11 13:06] #79 closed

[2019-01-11 13:08] pawelgalazka commented on #81
Closing this one as this is possible already

[2019-01-11 13:08] #81 closed

[2019-01-11 13:18] pawelgalazka commented on #92
I would argue that this feature is not really essential inside `runjs` and it can be easily "solved" currently by providing custom logger to `run` function, which is its 3rd argument:

[code]

[2019-01-11 13:18] #92 closed

[2019-01-11 13:24] pawelgalazka commented on #87
Exactly, as mentioned above, nothing stops user from defining tasks with hyphens style.
Changing `camelCalse` to `hyphen-style` would unnecessary complicate code and introduce some edge cases, for example:

[code]

what should we do in this case ?

Unnecessary complication and it downgrades transparency what actually is called.

[2019-01-11 13:24] #87 closed

[2019-01-11 13:30] pawelgalazka commented on #91
I fixed the link in the docs.
Considering `runjs` will be moving to this api: https://github.com/pawelgalazka/runjs/issues/77 further description about `this` won't be necessary

[2019-01-11 13:30] #91 closed

[2019-01-11 16:02] markstos commented on #92
Essential? No.

A better default user experience: Yes.

[2019-01-12 10:50] tenorok commented on #81
There is only one moment that with above approach will not work autocompletion.

[2019-01-12 12:53] pawelgalazka opened #94 "Renaming project to: Taskfile"
Lately I started wondering about renaming the project.

I have couple reasons **why**:

- junior developers / developers often confuse `npx run` with `npm run`, thinking it's kind of built in in npm feature and start to wonder in general how this relates to `npm scripts`. Situation starts to confuse more with `yarn`. Like what `yarn run` do with `runjs`, is it calling `runjs` or `npm scripts`. So

[2019-01-12 21:39] pawelgalazka opened #95 "Migrate from Flow to TypeScript internally"
*Benefits*:
- better community support
- better handling types for 3rd party libraries
- no need for babel anymore

[2019-01-12 21:43] pawelgalazka opened #96 "Support only async shell call"
Considering that we have `async` and `await`, seems that there is no need for `sync` version of `run`, as we could have always `async` version and use `await` eventually if we want to make it sync:

[code]

*Benefits*:
- stop switching between `spawn` and `execSync` internally
- passing options to `spawn` will be cleaner as we don't have to deal with slightly different `execSync` api

[2019-01-25 19:31] ljani commented on #83
This is a little related to the same issue: I'd be interested in having direct access to [`asyncProcess.stdout`](https://github.com/pawelgalazka/tasksfile/blob/b7992457db8c4adead4a68440d5887262d94ddbc/src/index.ts#L74), so I could do some muxing for parallel async processes. Any thoughts?

Btw, I'm using `runjs` on Windows and I do not have `bash` in my `PATH`. I'd be surprised if I needed to conf

[2019-01-25 23:44] mszczepanczyk opened #99 "Published package v4.4.1 breaks API"
Hey! The new version introduces these type declarations:

[code]

rendering `options` arg mandatory.

I can see this is already fixed in `master` and I'd consider publishing the new package ASAP because the current state of things breaks builds for anyone using latest version or **any 4.\* version with caret prefix**. It broke mine :). Thanks!

[2019-01-25 23:59] pawelgalazka commented on #99
Hey, thanks for feedback!
4.4.2 version is published with fixed `TypeScript` type for `run` function.

[2019-01-25 23:59] #99 closed

[2019-01-26 00:00] pawelgalazka commented on #95
Code has been migrated

[2019-01-26 00:00] #95 closed

[2019-01-26 00:01] pawelgalazka commented on #94
Project has been renamed to `Tasksfile` not `Taskfile`

[2019-01-26 00:01] #94 closed

[2019-01-29 21:44] mszczepanczyk commented on #81
@pawelgalazka are you referring to the code shared by @tenorok? Tasks declared as such are not listed by helper.

[code]

[code]

[2019-02-26 15:44] markstos commented on #96
This would be OK with me.

[2019-02-26 15:46] markstos commented on #94
There's also another project that is named "runjs" now, but is completely different.

[2019-02-26 15:51] markstos opened #100 "wish: provide differences with Run.js"
Tasksfile is now considered in "Beta", which is a public-feedback stage.

I'm a contributor and user that is interested in providing pre-release feedback, but it's difficult to know what has changed besides the name.

A simple changelog that provides a list of changes in each release would be helpful to know where to focus attention.

Thanks.

[2019-03-13 07:40] pawelgalazka commented on #100
Changelog draft: https://github.com/pawelgalazka/tasksfile/blob/master/CHANGELOG.md#500-beta

[2019-03-13 13:30] markstos commented on #100
Thanks. The changes look OK, but not compelling enough for us to upgrade immediately. I think we'll stick with Run.js 4.4 for a while.

[2019-03-13 23:19] pawelgalazka commented on #100
@markstos I would recommend the same. Currently `tasksfile` beta api won't change so it will stay the same. The only thing which will change is the engine of handling `cli`, which will use updated version of https://github.com/pawelgalazka/cli. `tasksfile` will come out of beta when this transition will be finished and well tested.

[2019-03-13 23:19] #100 closed

[2019-03-22 21:15] markstos commented on #58
Is this behavior changed in `taskfile`? It can be a nasty surprise to a have a build fail, but have the build continue to deploy stage because the run command returned success instead of failure.

[2019-04-03 07:24] dorian-marchal opened #101 "Add a way to retrieve raw args from options"
Sometimes, I need to directly forward arguments to a command without knowing them beforehand.

For example, I would want to do that:

[code]

[code]

Is their a way to do that without reconstructing raw params from options and args?

[2019-04-03 07:59] pawelgalazka commented on #101
Without reconstructing params it's not currently possible but I think about introducing that option in future versions. Raw args and options may be available under `options['--']`

[2019-04-03 08:05] dorian-marchal commented on #101
For now, I use `process.argv` but I imagine it can break in some circumstances:

[code]

[2019-04-19 02:40] pawelgalazka commented on #74
It's done

[2019-04-19 02:40] #74 closed

[2019-04-19 02:43] pawelgalazka commented on #101
It's done: https://github.com/pawelgalazka/tasksfile#rawargs
`rawArgs()` function is available now

[2019-04-19 02:43] #101 closed

[2019-04-19 03:07] pawelgalazka commented on #96
Shell function does not belong to this repo anymore, closing

[2019-04-19 03:07] #96 closed

[2019-04-19 03:08] pawelgalazka commented on #77
It's done already

[2019-04-19 03:08] #77 closed

[2019-04-19 07:36] dorian-marchal commented on #101
Thanks :+1:

[2019-04-20 12:16] pawelgalazka commented on #83
@ljani `sh` command is designed to be very simple and straightforward, so it returns a promise and it has the same options between async and sync option, that are the base assumptions of it. If you need more, nothing stops you to use original `child_process` module within `tasksfile` command

[2019-04-20 13:57] pawelgalazka commented on #83
One planned thing is to add `shell` option but apart from that passing all options is not planned

[2019-04-20 13:57] #83 closed

[2019-05-18 01:48] possibleworlds opened #103 "Synchronous sh command errors"
Hi! Feel I am missing something simple... how you do you get synchronous shell command errors to print to console. If an async command fails the correct error is printed, but if it is synchronous you get a ShellError: Command failed without any info passed from the script.

[2019-06-30 16:21] tenorok commented on #64
Is there this possibility in the `task`-command?

[2019-08-22 10:39] muntasirsyed opened #104 "Cannot include colons in command signatures"
Have tried created commands such as `db:migrate` and these are not picked up by the `cli` command upon running.

[2019-10-24 14:35] rondymesquita opened #105 "Typescript support out of the box?"
Is there any way to support typescript without a package.json?
Let's suppose I would like to have a `tasksfile.ts` without a package.json.
For this I tried to:
I installed `ts-node`, `typescript` and `tasksfile` globally (-g) and imported as file below.
[code]
And I executed: `ts-node tasksfile.ts`.
But getting...
[code]

Am I doing something wrong? Thanks in advance! 🙃

[2019-10-27 22:31] pawelgalazka commented on #105
In Node.js, require/import doesn't look in the folder where global modules are installed. You need to install `tasksfile` within the project directory to be able to import it.

[2019-11-11 11:19] muntasirsyed commented on #103
Most likely cause: https://github.com/pawelgalazka/tasksfile/commit/cfe9410da4602718ab3870ecf41ff324c2ba4f5b

[2019-11-18 11:07] misteravo opened #106 "Yarn audit : 1 vulnerability found"
$ yarn audit
yarn audit v1.19.1
│ high          │ Prototype Pollution
│ Package       │ lodash
│ Patched in    │ >=4.17.12
│ Dependency of │ tasksfile
│ Path          │ tasksfile > @pawelgalazka/cli > lodash
│ More info     │ https://www.npmjs.com/advisories/1065

1 vulnerabilities found - Packages audited: 905558
Severity: 1 High
Done in 1.98s.

[2019-12-07 18:52] chriscalo opened #107 "Feature Request: alias `npx task` to `npx task --help`"
I don't always remember all of the available tasks in a project.

If I run `npx task --help`, it lists them for me.

If I run just `npx task`, I feel like it should do the same, but instead it barfs.

Any objection to aliasing `npx task` to `npx task --help`?

[2020-02-05 07:35] polarlightning opened #108 "how to get sh() command output?"

[2020-04-15 12:56] #105 closed

[2020-04-26 12:38] pawelgalazka commented on #106
done

[2020-04-26 12:38] #106 closed

[2020-05-13 23:31] JeffSpies opened #109 "Silence sh command rather than just the output of the command"
Apologies if I'm missing something obvious. I know the silence option to the `sh` function silences the output, but is there a way to also "silence" the sh command from being printed to the console? If not, have you considered adding an option to do this? Thanks!

[2020-07-08 13:09] michapixel opened #110 "catching errors"
this is my tasksfile.js
[code]
i'm calling this by:
```npx task node_sass dev```
now:
if node-sass throws an error, i was thinking i could catch it somehow (get the scss-file that throws the error etc.) so i flagged it as
async. But the error thrown in the above catch-"block" is not the one from node-sass:
[code]
See, the first part (the object) is what i wanted to print fine.

Any way i can achie

[2020-07-08 13:44] #108 closed

[2020-07-08 13:55] polarlightning commented on #110
This is most probably not the whole answer, but may help in finding the actual solution: I investigated using Tasksfile earlier this year as it felt to be such a tool that I wanted, and all Javascript-controlled build. But for some specific-to-my requirements reason that I don't remember anymore I ended writing more customized build-pipeline handler and I run into possibly quite similar problem as

[2020-07-08 14:00] michapixel commented on #110
well i thought this library/module would exactly do that, since it internally starts child processes.
Maybe i'm not getting it, but how to pipe stdout & stderr like you said?

[2020-07-08 14:49] polarlightning commented on #110
Tasksfile source code in task.js seems to be using NodeJs 'execSync'-function to execute commands. There is one parameter passed that is particularly interesting: "stdio: 'inherit'", which seems to be not enough to pipe stderr to be printed (i.e. your problem as I understood it). In my own implementation I used spawn (async) instread of execSync, which has better documented way of handling stderr

[2020-08-01 06:47] ywauto83 opened #111 "running tasks in parallel"
it might be just a 101 question. I am wondering if running multi tasks in parallel is supported.

Thanks

[2020-08-02 22:34] pawelgalazka commented on #111
You can make implementation of the task to work in async. For example `sh` function which executes shell command accepts  `async` option: https://github.com/pawelgalazka/tasksfile#shcmd-options

[2020-08-21 00:20] ghost commented on #103
Bump. If this isn't an actual issue, then it's at least a bit unclear from the README.

[2020-10-05 00:49] dzaman commented on #111
While you can make multiple concurrent calls to `sh` with the `async` flag, I use [`concurrently`](https://www.npmjs.com/package/concurrently) for this:

[code]

[2020-11-10 11:24] ljani commented on #103
As a workaround is to set `nopipe` to true:

[code]

[This will change `stdio` to `["inherit", "inherit", "inherit"]`](https://github.com/pawelgalazka/shell/blob/808e21506f4395389a67dfa6df51948db4f25c05/src/index.ts#L147-L151).

[2021-04-19 20:14] tenorok commented on #81
@mszczepanczyk you're right, but how we can see in the [sources](https://github.com/pawelgalazka/cli/blob/31290eaca07037fae12642ea847e3a9c4b8789a9/src/middlewares/commandFinder.ts#L23-L34) the next example will work:

[code]

[code]

[2021-07-22 17:27] fnbk opened #116 "npm install: 3 vulnerabilities (2 low, 1 high)"
The current package `taskfile@5.1.1` has a vulnerability, because the transitive dependency `lodash@4.17.0` is used in `@pawelgalazka/cli` [more details](https://github.com/pawelgalazka/cli/issues/11)

Merging the [dependabot PR](https://github.com/pawelgalazka/cli/pull/8) should easily solve this issue.

[code]

[2021-07-23 12:12] fnbk commented on #116
@pawelgalazka What do you think? When could you do that?

[2021-08-27 07:22] henhal commented on #116
@pawelgalazka Any updates? See https://github.com/pawelgalazka/cli/issues/11

[2021-09-26 05:50] wll8 opened #119 "Non-English characters are not displayed correctly"
## env
- node v14.15.5
- tasksfile v5.1.1
- os win10x64
## code
[code]

## cli
[code]

## image
![image](https://user-images.githubusercontent.com/28223260/134795315-ff6aa98a-ac2d-42f0-bb7f-d3627e200e6b.png)

[2021-09-26 07:24] ricmatsui commented on #107
@chriscalo We use `npx task` to run a default task we configure with `cli({ default })`.

A workaround for your project could be to have the default task run `sh('npx task --help')`.

[2021-09-28 08:46] wll8 commented on #119
<div align="center">
    <a rel="noreferrer" target="_blank" href="https://cdn.jsdelivr.net/gh/wll8/static/Video_20200331231620_qs_demo.mp4">
      <img alt="qs demo gif" width="500" height="282" src="https://cdn.jsdelivr.net/gh/wll8/static/Video_20200123214014_hi_qs.gif" />
      <div>For demo video, please click</div>
    </a>
  </div>

Finally, I use this tool, which can execute arbitrary comma

[2022-03-04 12:13] henhal commented on #116
Six months later and this still causes audit warnings for me, would you consider upgrading lodash via the dependabot PR and/or switching to caret notation for dependencies so that user can override it in their lock files? @pawelgalazka

[2022-07-01 02:56] binaryben commented on #116
I like the simplicity of this, but it might be time to fork and keep it actively maintained. Audit warnings a year on are a problem.

[2022-10-19 09:59] #103 closed

[2022-10-19 09:59] #109 closed, assigned to nobody

[2022-10-19 09:59] #110 closed, assigned to nobody

[2022-10-19 09:59] #111 closed, assigned to nobody

[2022-10-19 09:59] #116 closed, assigned to nobody

[2022-10-19 09:59] #119 closed, assigned to nobody